@use '../../styles/variables' as *;

.schedule {
  &__content {
    box-shadow: 0 4px 6px $shadow-soft;
  }

  &__frame {
    border-radius: $border-radius-small;
    background-color: $bg-darker;
    box-shadow: 0 2px 4px $shadow-soft;
  }
} 