@import '@/styles/variables';

.radio-button {
  position: relative;
  display: inline-block;

  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked + .radio-button__label {
      background-color: $primary-dark;
      color: $text-inverse;
    }
  }

  &__label {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    color: $text-primary;
    background-color: $primary;
    border: 2px solid $bg-darker;
    border-radius: $border-radius-small;
    cursor: pointer;
    transition: $transition-default;

    &:hover {
      background-color: $primary-dark;
      border-color: $primary-dark;
      color: $text-inverse;
    }
  }
} 