.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(4px);
  }

  &__container {
    position: relative;
    background-color: $bg-accent;
    border-radius: $border-radius-small;
    border: .5px solid $bg-darker;
    padding: $spacing-extra-large;
    width: 90%;
    max-width: 600px;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: 0 1px 10px $shadow-hard;
    z-index: 1001;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $spacing-large;
  }

  &__title {
    font-size: $font-size-2xl;
    font-weight: $font-weight-black;
    color: $text-primary;
  }

  &__close-button {
    background: none;
    border: none;
    font-size: $font-size-2xl;
    font-weight: $font-weight-black;
    color: $bg-dark;
    cursor: pointer;
    padding: 0.5rem;
    line-height: 1;
    transition: color 0.2s ease;

    &:hover {
      color: $text-inverse;
    }
  }

  &__content {
    color: $text-primary;
  }

  @media screen and (max-width: $breakpoint-mobile) {
    &__container {
      width: 93%;
      padding: $spacing-extra-large $spacing-large;
    }
  }
} 