@use 'variables' as *;

// Brice Font
@font-face {
  font-family: 'Brice';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/tercer-espacio/fonts/Brice-Bold.otf') format('opentype');
}

// Gotham Font
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/tercer-espacio/fonts/Gotham-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/tercer-espacio/fonts/Gotham-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/tercer-espacio/fonts/Gotham-Bold.otf') format('opentype');
}
