@use 'variables' as *;
@use 'fonts';

// Reset básico
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // Positioning
  position: relative;
  
  // Box-model
  margin: 0;
  
  // Typography
  font-family: $font-main;
  font-weight: $font-weight-normal;
  text-align: center;
  color: $text-inverse;
  
  // Visual
  background-color: $bg-dark;
}

// Contenedor principal
.container {
  // Box-model
  max-width: $breakpoint-desktop;
  margin: 0 auto;
  padding: $spacing-medium;
}

@media (max-width: $breakpoint-mobile) {
  .container {
    max-width: 95%;
    padding: 0;
  }
}
