@use 'variables' as *;

// Reset básico
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  text-align: center;
  background-color: $bg-dark;
  color: $text-inverse;
  margin: 0;
  font-weight: 300;
}

// Contenedor principal
.container {
  max-width: $breakpoint-desktop;;
  margin: 0 auto;
  padding: $spacing-medium;
}

@media (max-width: $breakpoint-mobile) {
  .container {
    max-width: 95%;
    padding: 0;
  }
}

// Margins
.mt-1 { margin-top: $spacing-small; }
.mt-2 { margin-top: $spacing-medium; }
.mt-3 { margin-top: $spacing-large; }

.mb-1 { margin-bottom: $spacing-small; }
.mb-2 { margin-bottom: $spacing-medium; }
.mb-3 { margin-bottom: $spacing-large; }

// Enlaces
a {
  color: $text-link;
  text-decoration: none;
  transition: $transition-fast;

  &:hover {
    color: $primary;
  }
}
