.castings {
  &__container {
    // Positioning
    position: relative;

    // Box Model
    width: 100%;
    max-width: $breakpoint-desktop;
    margin: 0 auto;
    padding: $spacing-medium;

    // Typography
    font-family: $font-main;
    color: $text-primary;

    // Visual
    background-color: $bg-light;
    border-radius: $border-radius;
    box-shadow: 0 2px 4px $shadow-soft;
    transition: $transition-default;

    @media (max-width: $breakpoint-mobile) {
      padding: $spacing-small;
    }
  }
}

.casting-modal-content {
  &__title {
    font-size: $font-size-lg;
    font-weight: $font-weight-black;
  }

  &__required-info-title {
    margin-top: $spacing-medium
  }

  &__required-info {
    display: inline-block;

    &:first-letter {
      text-transform: capitalize;
    }
  }

  &__accent {
    padding-bottom: $spacing-large;

    p {
      margin-bottom: $spacing-small;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    gap: $spacing-extra-large;
    margin-top: $spacing-medium;
  }

  &__copy-contact {
    cursor: pointer;
    text-decoration: underline;
    max-width: max-content;
    margin: 0 auto;

    &:hover {
      color: $accent-positive;
    }
  }

  @media (max-width: $breakpoint-mobile) {
    font-size: $font-size-sm;

    &__title {
      font-size: $font-size-base;
    }

    &__accent {
      gap: $spacing-small;
    }
  }
}