@use '@/styles/variables' as *;

.schedules {

  &__selector {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: $spacing-medium;
    margin-bottom: $spacing-medium;
  }

  &__buttons {
    display: flex;
    gap: $spacing-small;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__button {
    font-weight: $font-weight-bold;
    padding: $spacing-small $spacing-medium;
    border: 2px solid $bg-darker;
    background-color: $primary;
    color: $text-primary;
    border-radius: $border-radius-small;
    font-family: $font-main;
    font-size: $font-size-base;
    cursor: pointer;
    transition: $transition-default;

    &:hover, &--active {
      background-color: $primary-dark;
      color: $text-inverse;
    }
  }

  &__whatsapp-button {
    align-content: center;
    font-weight: $font-weight-bold;
    background-color: $accent-positive;
    color: $text-primary;
    padding: $spacing-small $spacing-medium;
    border-radius: $border-radius-small;
    text-decoration: none;
    font-family: $font-main;
    font-size: $font-size-base;
    transition: $transition-default;
    border: 2px solid $accent-positive;

    &:hover {
      background-color: $accent-positive-dark;
      color: $text-inverse;
      border-color: $accent-positive-dark;
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .schedules {
    padding: 0 $spacing-small $spacing-medium;

    &__selector {
      gap: $spacing-small;
      margin-bottom: $spacing-medium;
      flex-direction: column;
    }

    &__buttons {
      gap: $spacing-small;
    }

    &__button {
      font-size: $font-size-sm;
    }

    &__whatsapp-button {
      font-size: $font-size-sm;
      padding: $spacing-small;
      margin: 0 30px;
      border: 2px solid $bg-darker;
    }
  }
} 