.schedules {
  &__selector {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: $spacing-medium;
    margin-bottom: $spacing-medium;
  }

  &__buttons {
    display: flex;
    gap: $spacing-small;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: $breakpoint-mobile) {
  .schedules {
    padding: 0 $spacing-small $spacing-medium;

    &__selector {
      gap: $spacing-small;
      margin-bottom: $spacing-medium;
      flex-direction: column;
    }

    &__buttons {
      gap: $spacing-small;
    }

    &__button {
      font-size: $font-size-sm;
    }

    &__modal-button {
      margin: 0 $spacing-medium;
    }
  }
}

.reservation-form {
    font-size: $font-size-lg;
    text-align: center;
    color: $text-primary;
    line-height: 1.5;

  p {
    margin-bottom: $spacing-medium;
  }

  &__accent-block {
    font-size: $font-size-base;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    gap: $spacing-large;
  }

  @media (max-width: $breakpoint-mobile) {
    &__buttons {
      justify-content: center;
    }
  }
} 