@use '../../styles/variables' as *;

// Componente principal de navegación
.navbar {
  // Positioning
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  // Box Model
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-small $spacing-medium;

  // Visual
  background-color: $bg-darker;
  box-shadow: 0 2px 4px $shadow-soft;

  // Secciones de la navbar
  &__section {
    // Box Model
    display: flex;
    align-items: center;

    &--left,
    &--right {
      // Box Model
      width: 60px;
    }

    &--center {
      // Box Model
      flex: 1;
      justify-content: center;
    }
  }

  // Enlaces
  &__link {
    // Box Model
    display: flex;
    align-items: center;
    width: 100%;

    // Typography
    color: $text-inverse;
    text-decoration: none;
    font-size: $font-size-xl;

    // Visual
    transition: $transition-default;

    &--back {
      // Visual
      transition: $transition-default;
    }

    &--home {
      // Box Model
      justify-content: flex-end;
    }
  }

  // Flecha de retroceso
  &__arrow {
    // Box Model
    width: 24px;
    height: 24px;

    // Visual
    transition: $transition-default;
    fill: $text-inverse;
    stroke: $text-inverse;

    .navbar__link--back:hover & {
      fill: $primary;
      stroke: $primary;
      transform: scale(1.2);
    }
  }

  // Título
  &__title {
    // Box Model
    margin: 0;

    // Typography
    font-family: $font-main;
    font-size: $font-size-xl;
    font-weight: $font-weight-bold;
    color: $text-inverse;
  }

  // Logo
  &__logo {
    // Box Model
    width: 60px;

    // Visual
    transition: $transition-default;

    &:hover {
      transform: scale(1.1);
    }
  }
}

// Layout del contenedor
.navbar-layout {
  &__content {
    // Box Model
    margin-top: 48px;
    width: 100%;
  }
}

// Media queries
@media (max-width: $breakpoint-mobile) {
  .navbar {
    // Box Model
    padding: $spacing-small;

    &__section {
      &--left,
      &--right {
        width: 50px;
      }
    }

    &__title {
      // Typography
      font-size: $font-size-xl;
    }

    &__logo {
      // Box Model
      width: 45px;
    }
  }
}