.gender-filter {
  margin-bottom: $spacing-medium;

  &__group {
    display: flex;
    justify-content: center;
    gap: $spacing-small;
    flex-wrap: wrap;
  }

  &__option {
    position: relative;
  }

  &__input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    cursor: pointer;

    &:checked+.gender-filter__label {
      background-color: $primary-dark;
      color: $text-inverse;
    }
  }

  &__label {
    display: inline-block;
    padding: $spacing-small $spacing-medium;
    font-family: $font-main;
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    background-color: $primary;
    color: $text-primary;
    border: 2px solid $bg-darker;
    border-radius: $border-radius-small;
    cursor: pointer;
    transition: $transition-default;

    &:hover {
      background-color: $primary-dark;
      color: $text-inverse;
    }
  }

  &__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: $spacing-medium;
    margin-bottom: $spacing-medium;
  }

  @media (max-width: $breakpoint-tablet) {
    .gender-filter {
      padding: 0 $spacing-small $spacing-medium;

      &__link {
        margin: 0 30px;
      }

      &__container {
        gap: $spacing-small;
        margin-bottom: $spacing-medium;
        flex-direction: column;
      }
    }
  }
}